.wrapper {
    margin: 0 auto;
    font-family: Nunito Sans, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

body {
    box-sizing: border-box;
    margin: 0px;
}

.button {
    text-align: center;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    outline: 0;
    border: 0;
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
}

.title {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.subtitle {
    color: #181818;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
}

.input__span {
    color: rgba(54, 54, 54, 0.50);
}

.input {
    border-top: none;
    border-right: none;
    border-left: none;
    color: #363636;
    background-color: rgba(28, 28, 28, 0)
}

.header {
    background-color: black;
}

.header-container {
    margin: 0 auto;
    max-width: 1256px;
}

.header-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 83px;
}

.logo {
    color: #E3B873;

}

.telefon a {
    text-decoration: none;
    color: #E3B873;
    text-decoration-line: underline;
}

.header-nav {
    list-style: none;
    display: flex;
}

.header-nav__item {
    margin-right: 47px;
}

.header-nav__link-marked {
    color: #E3B873;
    text-decoration: none;
}

.header-nav__link {
    text-decoration: none;
    color: #FFF;
}

.button-request {
    padding: 13px 33px;
    font-size: 11px;
}

.calculate {
    position: relative;
    overflow: hidden;
    height: 707px;
    width: 100%;
    z-index: 3;
    background-image: url(../img/calcback.jpg);
    background-size: cover;
}

.calculate::before {
    background: rgba(0, 0, 0, 0.70);
    content: "";
    position: absolute;
    width: 100%;
    height: 707px;
    z-index: -1;
}

.main-container {
    max-width: 1171px;
    margin: 0 auto;
}

.calculate-container {
    height: 707px;
    padding-top: 194px;
}

h1 {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 40px;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}


.marked {
    color: #E3B873;

}

.calculate-content__text {
    width: 504px;
    color: #FFF;
    font-size: 22px;
    font-family: Nunito Sans;
    line-height: 163.68%;
    margin-top: 19px;
    margin-bottom: 41px;
}

.button-calc {
    margin-right: 20px;
    font-size: 11px;
    padding: 20px 42px;
    font-style: italic;
}

.button-submit {
    border: 1px solid #FFF;
    font-size: 11px;
    font-style: italic;
    padding: 20px 23px;
    background-color: rgba(28, 28, 28, 0);
}

.completed {
    background-color: #131313;
}

.completed-container {
    padding-top: 100px;
    padding-bottom: 400px;

}

.completed-navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 52px;
    padding-left: 0;
}

.completed-navigation__city {
    list-style: none;
    color: rgba(255, 255, 255, 0.30);
    font-family: Yeseva One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-right: 61px;
}

.completed-navigation__city-rostov {
    text-decoration: underline;
    color: #E3B873;
    list-style: none;
    font-family: Yeseva One;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    text-transform: uppercase;
    margin-right: 61px;
}

.title-complited {
    margin-bottom: 42px;
}

.completed-box {
    display: flex;
    justify-content: space-between;
}

.completed-content {
    display: flex;
    flex-direction: column;
}

.completed-text {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 190.96%;
    width: 442px;
    margin-bottom: 42px;
}

.comleted-box__card {
    display: flex;
    flex-wrap: wrap;
}

.comleted-card {
    width: 50%;
    padding-bottom: 34px;
}

.title-card {
    font-size: 18px;
    line-height: 138.6%;
}

.comleted-text {
    margin-top: 9px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%
}

.comleted-arrow {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.control {
    padding-bottom: 147px;
}

.control-container {
    background: none;
    margin-top: -330px;
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
}

.control-title {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 13px;
}

.control-camera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-camera__pic {
    margin: 0 9px;
}

.control-video {
    background-image: url(../img/videocontrol.jpg);
    position: relative;
    height: 434px;
    width: 817px;
    margin: 31px auto 0;
    z-index: 3;

}

.control-video::before {
    background: rgba(0, 0, 0, 0.70);
    content: "";
    position: absolute;
    width: 100%;
    height: 434px;
    z-index: -1;
}

.control-video__svg {
    display: contents;
    width: 156px;
    height: 145px;
}

#play {
    padding: 174px 366px;
}

.control-hr__line {
    width: 55px;
    margin: 62px auto 34px;
}

.control-text {
    color: #363636;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 204.6%;
}

.input-box {
    display: flex;
    margin-bottom: 33px;
    justify-content: center;
}

.control-input {
    margin-right: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.control-button {
    width: 200px;
    height: 51px;
    margin-left: 49px;
}

.checkbox {
    display: flex;
}

.control-checkbox {
    justify-content: center;
    font-size: 14px;
    line-height: 23px;
}

#control-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

#feadback-checkbox,
#control-checkbox+label::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 1px;

}

#feadback-checkbox,
#control-checkbox:checked+label::before {
    border-color: #e3b873;
    background-color: #e3b873;
    background-image: url(../img/checked.svg);
    /* width: 19px;
    height: 19px; */
}

#control-checkbox:checked {
    accent-color: #e3b873;

}

.repair-container {
    min-width: 1236px;
}

.repair-title {
    font-size: 20px;
    line-height: 28px;
    color: #181818;
    text-align: center;
    margin-bottom: 13px;
}

.repair-hammer {
    display: flex;
    justify-content: center;

}

.repair-boxcard {
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}



.repair-card {
    display: flex;
    flex-direction: column;
    width: 392px;
    font-family: Yeseva One;
    padding-bottom: 124px;
}

.repair-img {
    margin-bottom: -125px;
}

.repair-content {
    background-color: #fff;
    width: 330px;
    height: 286px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card-title {
    margin-top: 25px;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    font-style: normal;
    font-weight: normal;
    margin-left: 40px;
    margin-bottom: 13px;
    ;
}

.repair-list {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-bottom: 23px;
    list-style: none;
}

.repair-price {
    color: #fff;
    background: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    height: 54px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feadback-container {
    min-width: 1236px;
    display: flex;
    justify-content: space-between;
    height: 707px;
}

.pluses {
    height: 540px;
    background: url(../img/feadback.png);
    background-size: cover;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.pluses-part {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
    margin-left: 30%;
}

.pluses-part-number {
    color: #fff;
    background: #e3b873;
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 50%;
    font-size: 18px;
    line-height: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
}

.pluses-part-text {
    font-size: 14px;
    line-height: 19px;
    color: rgba(54, 54, 54, 1);
}

.pluses-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pluses-form-box {
    width: 506px;
    height: 509px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    font-style: normal;
    font-weight: normal;
    justify-content: space-around;
    margin-bottom: 38px;
}

.pluses-form-title {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.pluses-form-table {
    width: 408px;
}

.feadback-inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
}


.feadback-input {}

.feadback-input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 39px;
}

.feadback-span {
    color: rgba(255, 255, 255, 0.50);
}

.feadback-placeholder {
    width: 100%;
    margin-bottom: 48px;
}

.feadback-placeholder::placeholder {
    color: #fff;

}

.feadback-checkbox {
    margin-top: -32pxpx;
}

.feadback-checkbox-label {
    color: #fff;
    font-family: Nunito Sans;
    font-size: 14px;
}

#feadback-checkbox {
    color: #FFF;
}

.feadback-button {
    width: 213px;
    height: 51px;
    align-self: flex-end;
}

.pluses-save {
    display: flex;
    align-items: center;
}

.save-text {
    width: 344px;
    font-size: 18px;
    line-height: 26px;
    color: #e3b873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    padding-bottom: 20px;
}

.fantasies-container {
    min-width: 1236px;
    height: 864px;
}

.fantasies-container-box {
    display: flex;
    background-image: url();
}

.fantasies-title {
    font-family: Yeseva One;
    font-size: 27px;
}

.fantasies-list {
    margin-right: 189px;
}

.fantasies-item {
    list-style: none;
    text-decoration: none;
}

.fantasies-item:nth-child(1) {
    text-decoration: underline;
}

.fantasies-first-colomn {
    display: flex;
    flex-direction: column;
}

#clock {
    width: 354px;
    height: 558px;
    padding-bottom: 39px;
}

#tv {
    width: 354px;
    height: 350px;
}

.fantasies-second-colomn {
    display: flex;
    flex-direction: column;
}

#sofa {
    width: 354px;
    height: 275px;
    padding-bottom: 37px;
}

#flower {
    width: 354px;
    height: 625px;
}